body {
    font-family: 'Supermercado One', cursive;
    color: red;
    background-image: url(../images/deadpool-hd-wallpapers-32964-1767535.jpg);
}

img {
    height: 150px;
    width: 112.5px;
    border-radius: 10px;
}

.top-header {
    font-size: 300%;
    text-align: center;
}
.section-title { 
    font-size: 200%
}

.character {
    display: inline-block;
    border-style: solid;
    border-color: red;
    border-width: 3px;
    cursor: pointer;
    background-color: black;
}

.character-image {
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.character-name {
    text-align: center;
}
.character-health {
    text-align: center;
}